/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&display=swap');

/* common style  */
body {
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 25px;
    border-radius: 5px;
    width: 870px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 33px;
}


/* top player style  */
.section-title {
    color: #562EFF;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 24px;

}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player h3 {
    font-size: 18px;
    margin-left: 16px;
}

hr {
    height: 0px;
    margin-top: 29px;

    margin-bottom: 30px;
}

/* top blog style  */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
}

.blog {
    display: flex;
}

.blog-image img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;

}

.blog-author {
    color: #9F9F9F;
}

.blog-author a {
    text-decoration: none;
}

/* latest courses styles  */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 24px;
}

.course {
    width: 253px;
    height: 270px;
    padding: 11px;
}

.course-image img {
    width: 224px;
    height: 104px;
}

.course-title {
    font-size: 20.0336px;
    font-weight: 500;

}

.course-authore {
    font-size: 14.6913px;
    color: #ED6B4F;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    margin-right: 3px;
}

.fa-star.filed {
    color: #FFC014;
    height: 12px;
    width: 11px;
}

.fa-star.empty {
    color: #AEAEAE;
}

.course-duration p {
    margin: 0;
    padding: 4px;
    width: 94px;
    height: 30px;
    color: #FF4A60;
    background-color: #FFE4E8;
    border-radius: 14.6913px;
}

/* media quriees */
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* tablate devises  */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }
}